<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer un nouveau festival</h2>
      <form [formGroup]="festivalForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="artiste">Artiste</label>
          <input type="text" id="artiste"
                 class="form-control" formControlName="artiste">
        </div>
        <div class="form-group">
          <label for="scene">Scene</label>
          <input type="text" id="scene"
                 class="form-control" formControlName="scene">
        </div>
        <div class="form-group">
          <label for="style">Style</label>
          <textarea id="style"
                    class="form-control" formControlName="style">
          </textarea>
        </div>
        <button class="btn btn-success" [disabled]="festivalForm.invalid"
                type="submit">Créer
        </button>
  
      </form>
    </div>
  </div>